<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>
        <%= settings.name %> - Login
    </title>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/static/js/functions.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" />
    <link rel="stylesheet" href="/static/css/login.css" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
</head>

<style>
    .body-bg {
        background-image: url("/static/images/backrounds/<%= image %>");
    }
</style>

<body class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8" id="main">
    <div class="flex items-center justify-center body-bg {filter: blur(5px)}" id="background-container">
    </div>
    <div class="max-w-md w-full space-y-8" id="not-background">
        <div>
            <div role="alert" style="display:none;" id="invalid_alert">
                <div class="border border-red-400 rounded-b rounded-t bg-red-100 px-4 py-3 text-red-700">
                    <p>Email or password not correct.</p>
                </div>
            </div>
            <div role="alert" style="display:none;" id="csrf_alert">
                <div class="border border-red-400 rounded-b rounded-t bg-red-100 px-4 py-3 text-red-700">
                    <p>CSRF token missmatch. Please reload the page and try again.</p>
                </div>
            </div>
            <div role="alert" style="display:none;" id="unknown_alert">
                <div class="border border-red-400 rounded-b rounded-t bg-red-100 px-4 py-3 text-red-700">
                    <p>There was an unknown error when creating the account. Please contact an administrator.</p>
                </div>
            </div>
            <div role="alert" style="display:none;" id="approval_alert">
                <div class="border border-red-400 rounded-b rounded-t bg-red-100 px-4 py-3 text-red-700">
                    <p>You are still waiting for a Cad Admin to approve your account! Please try again later.</p>
                </div>
            </div>
            <br>
            <img class="mx-auto h-12 w-auto" src="/static/logo.svg" alt="Workflow">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-white">
                Sign in to your account
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Or
                <a href="/signup" class="font-medium text-indigo-600 hover:text-indigo-500"> sign up </a>
            </p>
        </div>
        <form class="mt-8 space-y-6" id="loginForm">
            <input type="hidden" name="csrftoken" value="<%= csrftoken %>">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="email-address" class="sr-only">Email address</label>
                    <input id="email-address" name="email" type="email" autocomplete="email" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Email address">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Password">
                </div>
            </div>

            <div class="flex items-center justify-between">
            </div>

            <div>
                <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                        <!-- Heroicon name: solid/lock-closed -->
                        <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    Sign in
                </button>
            </div>
        </form>
    </div>
</body>

<script>
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>

<script>
    $('#loginForm').submit(async function (e) {
        e.preventDefault();
        const values = $(this).serializeObject();
        const res = await fetch(`/login`, {
            method: "POST",
            credentials: "same-origin",
            body: JSON.stringify(values)
        });
        const response = await res.json();
        console.log(response)
        if (!response.error) {
            if (response.success === true) {
                return window.location.href = "/dashboard";
            } else {
                return document.getElementById("unknown_alert").style.display = "block";
            }
        } else {
            if (response.error === "csrftokenmissmatch") {
                return document.getElementById("csrf_alert").style.display = "block";
            } else if (response.error === "invaliduserorpass") {
                return document.getElementById("invalid_alert").style.display = "block";
            } else if (response.error === "approval") {
                return document.getElementById("approval_alert").style.display = "block";
            } else {
                return document.getElementById("unknown_alert").style.display = "block";
            }
        }
    });
</script>